*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {
  font-size: 62.5%;
}

body {
  font-size: clamp(1.4rem, 1.6vw, 1.6rem);
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  padding: 0 1rem;
  overflow-x: hidden;
}

/* head */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgba(241, 225, 171, 0.4), rgba(226, 217, 167, 0.2));
  flex-wrap: wrap;
  padding: 1rem 2rem;
}
/*nav*/
.nav-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.nav-links,
.nav-link-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.nav-links {
  color: #141212;
  font-size: clamp(1.4rem, 1.6vw, 1.9rem);
  padding: 0.8rem 1.6rem;
  position: relative;
}

.nav-links:hover {
  background-color: gold;
}

.nav-links::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: gold;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.4s;
}

.nav-links:hover::before {
  transform: scaleX(1);
}

.nav-link-btn {
  background-color: goldenrod;
  color: white;
  border-radius: 50px;
  padding: 1rem 2rem;
  font-weight: 900;
}

.nav-link-btn:hover {
  background-color: gold;
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgba(255, 219, 60, 0.7);
}

/*title css*/
.container {
    margin-top:  6rem;
}

.first-half{
    display: flex;
}

.title {
    margin: .1rem auto;
    text-align: center;

}

.title-text{
    font-size: 4rem;
    font-weight: 300;
    color: black ;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 4rem
}

.shortcut {
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.5rem;
    margin-top: 3rem;
    justify-items: center;
  }
  
  .card {
    width: 100%;
    max-width: 250px;
    height: 180px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: transform 0.4s;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card h5 {
    color: #fff;
    text-shadow: 0 0 5px #0f0f0f;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    text-align: center;
  }
/*pictures*/
.card1{
    background: linear-gradient(rgba(0,0,0,0.40)), rgba(0,0,0,0.20) url(choir\ coordinator.jpg) center / cover;
    
}


.card2 {
    background: linear-gradient(rgba(0,0,0,0.40)), rgba(0,0,0,0.20) url(PSF-LAAKMUSICMINISTRY.jpg) center / cover ;


}

.card3 {
    background: linear-gradient(rgba(0,0,0,0.40)), rgba(0,0,0,0.20) url(mugna2025.jpg) center / cover;
}

.card4 {
    background: linear-gradient(rgba(0,0,0,0.40)), rgba(0,0,0,0.20) url(servemass.jpg) center / cover;
}

.card5 {
    background: linear-gradient(rgba(0,0,0,0.40)), rgba(0,0,0,0.20) url(practice.jpg) center / cover;
}

.card6 {
    background: linear-gradient(rgba(0,0,0,0.40)), rgba(0,0,0,0.20) url(Carroling.jpg)  center / cover ;
}

.card:hover{
    transform: translateY(-10px);

}

/*buttoonss*/
button  {
    width: 180px;
    padding: 12px 0;
    background-color: goldenrod;
    border-radius: 20px;
    border: 0;
    outline: none;
    margin-top: 30px;

}

button a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    z-index: 10px;
    transition: all .3s ease .4s;
    
}

button:hover{
        background-color: gold;
        transform: scale(1.2);
        box-shadow: 0 1rem 2rem rgba(255, 219, 60, 0.7);
}

