
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}


.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    border: 2px solid gold;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}


h1 {
    color: crimson;
    text-align: center;
    margin: 1rem 0 0.5rem;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding: 10px 10px;
    box-shadow: 0 6px 15px rgba(243, 239, 239, 0.07);
}

h1:hover {
    color: rgb(14, 88, 117);
}

.lyrics {
    margin: 20px 0;
    line-height: 1.6;
    font-size: 18px;
}
footer {
    background-color: goldenrod;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
  }

  .socmed {
    color: #fff;
  }

  .socmed img {
    width: 60px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    transition: all .3s ease .4s;

  }

  .socmed p {
    text-align: center;
  }

   img:hover {
    transform: scale(1.2);
    box-shadow: 0 1rem 2rem rgba(250, 250, 250, 0.7);
  }
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
    .lyrics {
        font-size: 16px;
    }
}